@charset "utf-8";

$text: #df482e;
$body-background-color: #1a1a1d;
$navbar-background-color:  #000009;


$navbar-item-hover-background-color: transparent;
$navbar-item-hover-color: $text;

$nav-height: 100px;
$navbar-item-img-max-height: 0.75 * $nav-height;

@import "../node_modules/bulma/bulma.sass";

nav {
  height: $nav-height;
}

.navbar-item {
  font-size: 25pt;
}

.underline {
  position: relative;
  text-decoration: none;
  transition: all 0.35s ease;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 30%;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover {
    &::before {
      visibility: visible;
      -webkit-transform: scaleX(0.9);
      transform: scaleX(0.9);
    }
  }
}